

header{
  padding: 5px 50px;
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
}

header .githubs{
  display: flex;
  width: 50%;
  margin: 5px auto;
  padding-top: 4px;
}

header h4{
  color:dimgray;
  position: absolute;
  right: 150px;
  padding-top: 8px;
}

.select{
  width: 100%;
  display: flex;
  padding: 30px;
}

.select .seeker{
  padding-left: 50px;
}

.select .seeker .form-control{
  width: 400px;
}

.select .buttons{
  position: absolute;
  right: 250px;
  padding: 5px 10px;
}